{% extends "layout.jinja2" %}

{% block content %}
<div class="ui top fixed menu">
	<div class="item">
		<h2 class="ui pink header">Recognition Bench</h3>
	</div>
</div>
<div class="container">
	<div class="ui grid">
		<div class="twelve wide centered column">
			<div class="ui row">
				<div class="ui fluid segment">
					<div class="upload">
						<h2 class="ui pink header">Drop Image Here</h4>
					</div>
				</div>
			</div>
			<div class="ui four column grid">
				<div style="margin-top: 2em;" class="row">
					<div class="ui one column grid results">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
